.ff-sans {
  font-family: 'Noto Sans TC';
}

.ls-sm{
  letter-spacing: 8px;
}

.ff-serif {
  font-family: "Philosopher", sans-serif;
}

.writing-mode-vertical {
  writing-mode: vertical-lr;
}

.fs-7{
  font-size: 12px !important;
}